@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 1rem;
}

nav .name, .inicio{
    text-decoration: none;
    color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out

}

nav .name:hover{
    background-color: #fff;
    color: #000;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: lightgrey;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}
.main-container li{
    margin-bottom: 15px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.proyectos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}
.proyectos-container iframe{
    border: 3px solid #454444;
    border-radius: 10px;
    width: 500px;
    height: 300px;

}

.gato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.button {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem;
}
.button:hover{
    background-color: #fff;
    color: #000;
    transition: ease-in-out 0.2s;
}

.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photos-container{
    display: flex;
    width: 100%;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border: 3px solid #454444;
    border-radius: 10px;
}

.photo-container img{
    border: 2px solid #454444;
    border-radius: 10px;
    object-fit: cover;
}

.photo img {
    width: 25vw;
    margin: 1rem;
}
.photo h3{
    width: 25vw;
    margin: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: black;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}